[run]
    branch = True
    dynamic_context = test_function

[report]
    # Regexes for lines to exclude from consideration
    exclude_lines =
        pragma: no cover
        def __repr__
        def __str__
        raise AssertionError
        raise NotImplementedError
        if __name__ == .__main__.:

    show_missing = True

[html]
    directory = htmlcov
    show_contexts = True
