# ignore python environment
env/*

scrap/*

# ignore build related folders
build/*
dist/*
femethods.egg-info/*

__pycache__/

# pycharm project files
.idea/

# ignore coveralls.yml to keep repo token private
.coveralls.yml
.coverage
# ignore local coverage report
htmlcov/*

.pytest_cache/*

# ignore build files for docs
docs/build/*

# ignore type checking cache
**/.mypy_cache/*
